<div class="flex-container">
  <div class="flex-item">
    Your Badges:
    <div><img src="assets/icons/icon-72x72.png" /></div>
    <div><img src="assets/icons/icon-72x72.png" /></div>
    <div><img src="assets/icons/icon-72x72.png" /></div>
    <div><img src="assets/icons/icon-72x72.png" /></div>
    <div><img src="assets/icons/icon-72x72.png" /></div>
    <div><img src="assets/icons/icon-72x72.png" /></div>
    <div><img src="assets/icons/icon-72x72.png" /></div>
  </div>

  <div class="flex-item">
    Not Yet acquired:
    <div><img src="assets/icons/icon-72x72.png" /></div>
    <div><img src="assets/icons/icon-72x72.png" /></div>
    <div><img src="assets/icons/icon-72x72.png" /></div>
    <div><img src="assets/icons/icon-72x72.png" /></div>
    <div><img src="assets/icons/icon-72x72.png" /></div>
    <div><img src="assets/icons/icon-72x72.png" /></div>
    <div><img src="assets/icons/icon-72x72.png" /></div>
  </div>
</div>
