<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/challenges">
    <mat-icon>dialpad</mat-icon>
    <span>Challenges</span>
  </button>
  <button mat-menu-item routerLink="/profile">
    <mat-icon>account_box</mat-icon>
    <span>My Account</span>
  </button>
</mat-menu>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <span class="example-fill-remaining-space"></span>
    Folding With Friends
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<div hidden="true">
  <div>
    Icons erstellt von <a href="https://www.flaticon.com/de/autoren/monkik" title="monkik">monkik</a> from
    <a href="https://www.flaticon.com/de/" title="Flaticon">www.flaticon.com</a>
  </div>
  <div>
    Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </div>
</div>
