<h1>Road to 10.000</h1>
<b>DDteam4 7000</b>
<div class="progress">
  <div
    class="progress-bar progress-bar-striped progress-bar-animated bg-success"
    role="progressbar"
    aria-valuenow="7000"
    aria-valuemin="0"
    aria-valuemax="10000"
    style="width: 70%"
  ></div>
</div>
<b>DDteam1 1059</b>
<div class="progress">
  <div
    class="progress-bar progress-bar-striped progress-bar-animated bg-info"
    role="progressbar"
    aria-valuenow="1059"
    aria-valuemin="0"
    aria-valuemax="10000"
    style="width: 10.59%"
  ></div>
</div>
<b> DDteam3 527</b>
<div class="progress">
  <div
    class="progress-bar progress-bar-striped progress-bar-animated bg-info"
    role="progressbar"
    aria-valuenow="527"
    aria-valuemin="0"
    aria-valuemax="10000"
    style="width: 5.27%"
  ></div>
</div>
<b>
  DDteam2 420
</b>
<div class="progress">
  <div
    class="progress-bar progress-bar-striped progress-bar-animated bg-info"
    role="progressbar"
    aria-valuenow="123"
    aria-valuemin="0"
    aria-valuemax="10000"
    style="width: 4.2%"
  ></div>
</div>
