<h2 class="mat-display-2 heading">Welcome [Team] - Choose your Challenge</h2>
<div class="flex-container">
  <div class="flex-item">
    <h2 class="mat-display-1">Consistency is king</h2>
    <div class="img-container" routerLink="/consistency">
      <div class="img"><img src="assets/icons/pageicons/teams.png" /></div>
      <div class="middle">
        <button mat-flat-button color="primary">Go To Challenge</button>
      </div>
    </div>
  </div>
  <div class="flex-item">
    <h2 class="mat-display-1">Road to 10.000</h2>
    <div class="img-container" routerLink="/points">
      <div class="img"><img src="assets/icons/pageicons/teams.png" /></div>
      <div class="middle">
        <button mat-flat-button color="primary">Go To Challenge</button>
      </div>
    </div>
  </div>
</div>
<div class="container"></div>
