.heading {
  text-align: center;
  padding-top: 1rem;
}
.flex-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.flex-container > div {
  background-color: #f5fcff;
  width: 512px;
  line-height: 75px;
  font-size: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.flex-container > div .img-container:hover {
  opacity: 0.6;
  cursor: pointer;
}

.flex-container > div .img-container .middle:hover {
  opacity: 1;
}

.img-container {
  position: relative;
  opacity: 1;
  transition: 0.9s ease;
  backface-visibility: hidden;
}

.img-container .middle {
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
